# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [ ]:
# [Linear Interpolation](https://en.wikipedia.org/wiki/Linear_interpolation)
# [Missing Data Imputation](http://www.stat.columbia.edu/~gelman/arm/missing.pdf)
# [7 Steps to Data Preparation](https://www.kdnuggets.com/2017/06/7-steps-mastering-data-preparation-python.html)

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns


# Challenge 1 - Import and Describe the Dataset

#### In this challenge we will use the `austin_weather` data.

#### First, import it into a data frame called `austin`.

In [12]:
austin = pd.read_csv("/content/austin_weather.csv")

#### Next, describe the dataset you have loaded:
- Look at the variables and their types
- Examine the descriptive statistics of the numeric variables
- Look at the first five rows of all variables to evaluate the categorical variables as well

In [4]:
austin.shape # always

(1319, 21)

In [ ]:
austin.columns # always

In [ ]:
# Look at the variables and their types
austin.dtypes

In [ ]:
# Examine the descriptive statistics of the numeric variables
austin.describe()

In [13]:
#Look at the first five rows of all variables to evaluate the categorical variables as well
austin.head()

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,PrecipitationSumInches,Events
0,2013-12-21,74,60,45,67,49,43,93,75,57,...,29.68,29.59,10,7,2,20,4,31,0.46,"Rain , Thunderstorm"
1,2013-12-22,56,48,39,43,36,28,93,68,43,...,30.13,29.87,10,10,5,16,6,25,0,
2,2013-12-23,58,45,32,31,27,23,76,52,27,...,30.49,30.41,10,10,10,8,3,12,0,
3,2013-12-24,61,46,31,36,28,21,89,56,22,...,30.45,30.3,10,10,7,12,4,20,0,
4,2013-12-25,58,50,41,44,40,36,86,71,56,...,30.33,30.27,10,10,7,10,2,16,T,

#### Given the information you have learned from examining the dataset, write down three insights about the data in a markdown cell below

In [14]:
# 1. A lot of numeric columns, but diferent scales (percentages, temperatures, sea level, Wind High MPH - djisus	)

# 2. Date column is defined as object:
austin["Date"] = pd.to_datetime(austin["Date"])
# not anymore.
first_day = austin["Date"].min()
last_day = austin["Date"].max()
print("My data is since",first_day,"until",last_day)

# 3. Only temperatures are numerical and are not even floats ... :/

My data is since 2013-12-21 00:00:00 until 2017-07-31 00:00:00

#### Your Insights:

1. There are 21 variables in the dataset. 3 of them are numeric and the rest contain some text.

2. The average temperature in Austin ranged between around 70 degrees F and around 93 degrees F. The highest temperature observed during this period was 107 degrees F and the lowest was 19 degrees F.

3. When we look at the head function, we see that a lot of variables contain numeric data even though these columns are of object type. This means we might have to do some data cleansing.

#### Let's examine the DewPointAvgF variable by using the `unique()` function to list all unique values in this dataframe.

Describe what you find in a markdown cell below the code. What did you notice? What do you think made Pandas to treat this column as *object* instead of *int64*?

In [15]:
austin["DewPointAvgF"].unique()

array(['49', '36', '27', '28', '40', '39', '41', '26', '42', '22', '48',
       '32', '8', '11', '45', '55', '61', '37', '47', '25', '23', '20',
       '33', '30', '29', '17', '14', '13', '54', '59', '15', '24', '34',
       '35', '57', '50', '53', '60', '46', '56', '51', '31', '38', '62',
       '43', '63', '64', '67', '66', '58', '70', '68', '65', '69', '71',
       '72', '-', '73', '74', '21', '44', '52', '12', '75', '76', '18'],
      dtype=object)

In [ ]:
# https://stackoverflow.com/questions/44530047/why-is-my-numeric-data-being-treated-as-an-object

# DataFrame in Pandas being will be treated as an object when the data is actually numeric, if it contains certain values within the columns
# that are not numeric for example, that litlle "-" which is probably better to convert to NaN.

The following is a list of columns misrepresented as `object`. Use this list to convert the columns to numeric using the `pandas.to_numeric` function in the next cell. If you encounter errors in converting strings to numeric values, you need to catch those errors and force the conversion by supplying `errors='coerce'` as an argument for `pandas.to_numeric`. Coercing will replace non-convertable elements with `NaN` which represents an undefined numeric value. This makes it possible for us to conveniently handle missing values in subsequent data processing.

*Hint: you may use a loop to change one column at a time but it is more efficient to use `apply`.*

In [17]:
wrong_type_columns = ['DewPointHighF', 'DewPointAvgF', 'DewPointLowF', 'HumidityHighPercent',
                      'HumidityAvgPercent', 'HumidityLowPercent', 'SeaLevelPressureHighInches',
                      'SeaLevelPressureAvgInches' ,'SeaLevelPressureLowInches', 'VisibilityHighMiles',
                      'VisibilityAvgMiles', 'VisibilityLowMiles', 'WindHighMPH', 'WindAvgMPH',
                      'WindGustMPH', 'PrecipitationSumInches']

In [ ]:
austin[wrong_type_columns] = austin[wrong_type_columns].apply(pd.to_numeric, errors = "coerce") # errors='coerce' as an argument for pandas.to_numeric
austin[wrong_type_columns].dtypes
austin.dtypes

#### Check if your code has worked by printing the data types again. You should see only two `object` columns (`Date` and `Events`) now. All other columns should be `int64` or `float64`.

In [ ]:
# ops, let's see if I need to change date again.
austin.dtypes

# Challenge 2 - Handle the Missing Data

#### Now that we have fixed the type mismatch, let's address the missing data.

By coercing the columns to numeric, we have created `NaN` for each cell containing characters. We should choose a strategy to address these missing data.

The first step is to examine how many rows contain missing data.

We check how much missing data we have by applying the `.isnull()` function to our dataset. To find the rows with missing data in any of its cells, we apply `.any(axis=1)` to the function. `austin.isnull().any(axis=1)` will return a column containing true if the row contains at least one missing value and false otherwise. Therefore we must subset our dataframe with this column. This will give us all rows with at least one missing value.

#### In the next cell, identify all rows containing at least one missing value. Assign the dataframes with missing values to a variable called `missing_values`.

In [ ]:
missing_values = austin[austin.isnull().any(axis=1)] # there is at least one NaN in each of these rows.
missing_values

There are multiple strategies to handle missing data. Below lists the most common ones data scientists use:

* Removing all rows or all columns containing missing data. This is the simplest strategy. It may work in some cases but not others.

* Filling all missing values with a placeholder value.
    * For categorical data, `0`, `-1`, and `9999` are some commonly used placeholder values.
    * For continuous data, some may opt to fill all missing data with the mean. This strategy is not optimal since it can increase the fit of the model.

* Filling the values using some algorithm.

#### In our case, we will use a hybrid approach which is to first remove the data that contain most missing values then fill in the rest of the missing values with the *linear interpolation* algorithm.

#### Next, count the number of rows of `austin` and `missing_values`.

In [ ]:
print("Number of rows is", austin.shape[0])
print("Missing values in each column is:")
austin.isnull().sum()

#### Calculate the ratio of missing rows to total rows

In [21]:
# To find the rows with missing data in any of its cells, we apply .any(axis=1) to the function. austin.isnull().any(axis=1)
missing_row_wise = austin.isnull().any(axis=1).sum() # then sum those b*tch*s
missing_row_wise

ratio_row_wise = missing_row_wise/austin.shape[0]
print("If we drop the nulls we will lose",ratio_row_wise*100,"% of the data")

If we drop the nulls we will lose 10.310841546626232 % of the data

As you can see, there is a large proportion of missing data (over 10%). Perhaps we should evaluate which columns have the most missing data and remove those columns. For the remaining columns, we will perform a linear approximation of the missing data.

We can find the number of missing rows in each column using the `.isna()` function. We then chain the `.sum` function to the `.isna()` function and find the number of missing rows per column

In [ ]:
austin_columns = austin.columns

for column in austin_columns:
    missing_rows = austin[column].isna().sum()
    print(f"Missing values in {column}:{missing_rows}")

#### As you can see from the output, the majority of missing data is in one column called `PrecipitationSumInches`. What's the number of missing values in this column in ratio to its total number of rows?

In [23]:
austin["PrecipitationSumInches"].isnull().sum()

ratio = austin["PrecipitationSumInches"].isnull().sum()/ austin.shape[0]

print("ratio of missing values is", ratio*100,"%")

ratio of missing values is 9.401061410159212 %

Almost 10% data missing! Therefore, we prefer to remove this column instead of filling its missing values.

#### Remove this column from `austin` using the `.drop()` function. Use the `inplace=True` argument.

*Hints:*

* By supplying `inplace=True` to `drop()`, the original dataframe object will be changed in place and the function will return `None`. In contrast, if you don't supply `inplace=True`, which is equivalent to supplying `inplace=False` because `False` is the default value, the original dataframe object will be kept and the function returns a copy of the transformed dataframe object. In the latter case, you'll have to assign the returned object back to your variable.

* Also, since you are dropping a column instead of a row, you'll need to supply `axis=1` to `drop()`.

[Reference for `pandas.DataFrame.drop`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html)

In [24]:
austin.drop("PrecipitationSumInches", axis = 1, inplace = True)

In [ ]:
austin.head()

#### Next we will perform linear interpolation of the missing data.

This means that we will use a linear algorithm to estimate the missing data. Linear interpolation assumes that there is a straight line between the points and the missing point will fall on that line. This is a good enough approximation for weather related data. Weather related data is typically a time series. Therefore, we do not want to drop rows from our data if possible. It is prefereable to estimate the missing values rather than remove the rows. However, if you have data from a single point in time, perhaps a better solution would be to remove the rows.

If you would like to read more about linear interpolation, you can do so [here](https://en.wikipedia.org/wiki/Linear_interpolation).

In the following cell, use the `.interpolate()` function on the entire dataframe. This time pass the `inplace=False` argument to the function and assign the interpolated dataframe to a new variable called `austin_fixed` so that we can compare with `austin`.

In [ ]:
# How exciting, the interpolation that I thought would not be usefull in Intro to Spicy . hooorray!

# syntax: austin_fixed = austin.interpolate(method='linear', axis=0, inplace=False)
# Fill NaN values using an interpolation method. Please note that only method='linear' is supported for DataFrame/Series with a MultiIndex.
# If ‘limit’ is not specified:If ‘method’ is ‘backfill’ or ‘bfill’, the default is ‘backward’.

In [ ]:
austin_fixed = austin.interpolate(method = "backfill", axis = 1, inplace = False)
austin_fixed.head()

#### Check to make sure `austin_fixed` contains no missing data. Also check `austin` - it still contains missing data.

In [ ]:
print("Austin_fixed nulls presence is")
austin_fixed.isnull().sum()
# actually very proud of this right now. Thank you white chocolate milka cookie!

In [ ]:
print("Austin original nulls presence is") # did poop here, changed original too.
austin.isnull().sum()

In [ ]:
austin = pd.read_csv("/content/austin_weather.csv")
austin.isnull().sum() # major p...

# Challenge 3 - Processing the `Events` Column

#### Our dataframe contains one true text column - the Events column. We should evaluate this column to determine how to process it.

Use the `value_counts()` function to evaluate the contents of this column

In [ ]:
austin_fixed["Events"].value_counts()

Reading the values of `Events` and reflecting what those values mean in the context of data, you realize this column indicates what weather events had happened in a particular day.

#### What is the largest number of events happened in a single day? Enter your answer in the next cell.

In [ ]:
# Fog, Rain, Thunderstorm

#### We want to transform the string-type `Events` values to the numbers. This will allow us to apply machine learning algorithms easily.

How? We will create a new column for each type of events (i.e. *Rain*, *Snow*, *Fog*, *Thunderstorm*. In each column, we use `1` to indicate if the corresponding event happened in that day and use `0` otherwise.

Below we provide you a list of all event types. Loop the list and create a dummy column with `0` values for each event in `austin_fixed`. To create a new dummy column with `0` values, simply use `austin_fixed[event] = 0`.

In [38]:
event_list = ['Snow', 'Fog', 'Rain', 'Thunderstorm']

for event in event_list:
    austin_fixed[event] = 0

#### Next, populate the actual values in the dummy columns of  `austin_fixed`.

You will check the *Events* column. If its string value contains `Rain`, then the *Rain* column should be `1`. The same for `Snow`, `Fog`, and `Thunderstorm`.

*Hints:*

* Use [`pandas.Series.str.contains()`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.contains.html) to create the value series of each new column.

* What if the values you populated are booleans instead of numbers? You can cast the boolean values to numbers by using `.astype(int)`. For instance, `pd.Series([True, True, False]).astype(int)` will return a new series with values of `[1, 1, 0]`.

In [39]:
# Series.str.contains(pat, case=True, na=None)[source]

for event in event_list:
    austin_fixed[event] = 0
    austin_fixed[event] = austin_fixed["Events"].str.contains(event, case = True, na = False).astype(int)

#### Print out `austin_fixed` to check if the event columns are populated with the intended values

In [ ]:
austin_fixed

#### If your code worked correctly, now we can drop the `Events` column as we don't need it any more.

In [41]:
# cross your fingers.
austin_fixed.drop("Events", axis = 1, inplace = True)

In [ ]:
austin_fixed

# Challenge 4 - Processing The `Date` Column

The `Date` column is another non-numeric field in our dataset. A value in that field looks like `'2014-01-06'` which consists of the year, month, and day connected with hyphens. One way to convert the date string to numerical is using a similar approach as we used for `Events`, namely splitting the column into numerical `Year`, `Month`, and `Day` columns. In this challenge we'll show you another way which is to use the Python `datetime` library's `toordinal()` function. Depending on what actual machine learning analysis you will conduct, each approach has its pros and cons. Our goal today is to practice data preparation so we'll skip the discussion here.

Here you can find the [reference](https://docs.python.org/3/library/datetime.html) and [example](https://stackoverflow.com/questions/39846918/convert-date-to-ordinal-python) for `toordinal`. The basic process is to first convert the string to a `datetime` object using `datetime.datetime.strptime`, then convert the `datetime` object to numerical using `toordinal`.

#### In the cell below, convert the `Date` column values from string to numeric values using `toordinal()`.

In [43]:
# sad trombone

from datetime import datetime as dt

austin_fixed["Date"] = [dt.strptime(str(date.date()), "%Y-%m-%d").toordinal() for date in austin_fixed["Date"]]

# what the (gasps) is toordinal?
#The proleptic Gregorian calendar is an extension of the Gregorian calendar that extends the same rules backward and forward in time.
# The proleptic Gregorian ordinal is the position of a date within this calendar, with January 1 of year 1 being the first day

#### Print `austin_fixed` to check your `Date` column.

In [ ]:
austin_fixed.head(5)

# Challenge 5 - Sampling and Holdout Sets

#### Now that we have processed the data for machine learning, we will separate the data to test and training sets.

We first train the model using only the training set. We check our metrics on the training set. We then apply the model to the test set and check our metrics on the test set as well. If the metrics are significantly more optimal on the training set, then we know we have overfit our model. We will need to revise our model to ensure it will be more applicable to data outside the test set.

#### In the next cells we will separate the data into a training set and a test set using the `train_test_split()` function in scikit-learn.

When using `scikit-learn` for machine learning, we first separate the data to predictor and response variables. This is the standard way of passing datasets into a model in `scikit-learn`. The `scikit-learn` will then find out whether the predictors and responses fit the model.

In the next cell, assign the `TempAvgF` column to `y` and the remaining columns to `X`. Your `X` should be a subset of `austin_fixed` containing the following columns:

```['Date',
 'TempHighF',
 'TempLowF',
 'DewPointHighF',
 'DewPointAvgF',
 'DewPointLowF',
 'HumidityHighPercent',
 'HumidityAvgPercent',
 'HumidityLowPercent',
 'SeaLevelPressureHighInches',
 'SeaLevelPressureAvgInches',
 'SeaLevelPressureLowInches',
 'VisibilityHighMiles',
 'VisibilityAvgMiles',
 'VisibilityLowMiles',
 'WindHighMPH',
 'WindAvgMPH',
 'WindGustMPH',
 'Snow',
 'Fog',
 'Rain',
 'Thunderstorm']```

 Your `y` should be a subset of `austin_fixed` containing one column `TempAvgF`.

In [ ]:
features = austin_fixed.drop(columns = ["TempAvgF"]) ## selecting all columns except salary, so it's full salary but dropping our target
target = austin_fixed["TempAvgF"] #y                 ## selecting  salary as our target variable

In the next cell, import `train_test_split` from `sklearn.model_selection`

In [ ]:
# scikit-learn == sklearn
from sklearn.model_selection import train_test_split

Now that we have split the data to predictor and response variables and imported the `train_test_split()` function, split `X` and `y` into `X_train`, `X_test`, `y_train`, and `y_test`. 80% of the data should be in the training set and 20% in the test set. `train_test_split()` reference can be accessed [here](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html).


Enter your code in the cell below:

In [ ]:
#train test split
X_train, X_test, y_train ,y_test = train_test_split(features, target, random_state = 0, test_size = 0.20)

#### Congratulations! Now you have finished the preparation of the dataset!

# Bonus Challenge 1

#### While the above is the common practice to prepare most datasets, when it comes to time series data, we sometimes do not want to randomly select rows from our dataset.

This is because many time series algorithms rely on observations having equal time distances between them. In such cases, we typically select the majority of rows as the test data and the last few rows as the training data. We don't use `train_test_split()` to select the train/test data because it returns random selections.

In the following cell, compute the number of rows that account for 80% of our data and round it to the next integer. Assign this number to `ts_rows`.

In [ ]:
# Your code here:

Assign the first `ts_rows` rows of `X` to `X_ts_train` and the remaining rows to `X_ts_test`.

In [ ]:
# Your code here:

Assign the first `ts_rows` rows of `y` to `y_ts_train` and the remaining rows to `y_ts_test`.

In [ ]:
# Your code here: