# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [109]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
from sklearn.model_selection import train_test_split


# Challenge 1 - Import and Describe the Dataset

#### In this challenge we will use the `austin_weather` data. 

#### First, import it into a data frame called `austin`.

In [73]:
weather = pd.read_csv("austin_weather.csv")
weather.head()

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,PrecipitationSumInches,Events
0,2013-12-21,74,60,45,67,49,43,93,75,57,...,29.68,29.59,10,7,2,20,4,31,0.46,"Rain , Thunderstorm"
1,2013-12-22,56,48,39,43,36,28,93,68,43,...,30.13,29.87,10,10,5,16,6,25,0,
2,2013-12-23,58,45,32,31,27,23,76,52,27,...,30.49,30.41,10,10,10,8,3,12,0,
3,2013-12-24,61,46,31,36,28,21,89,56,22,...,30.45,30.3,10,10,7,12,4,20,0,
4,2013-12-25,58,50,41,44,40,36,86,71,56,...,30.33,30.27,10,10,7,10,2,16,T,

#### Next, describe the dataset you have loaded: 
- Look at the variables and their types
- Examine the descriptive statistics of the numeric variables 
- Look at the first five rows of all variables to evaluate the categorical variables as well

In [74]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1319 entries, 0 to 1318
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        1319 non-null   object
 1   TempHighF                   1319 non-null   int64
 2   TempAvgF                    1319 non-null   int64
 3   TempLowF                    1319 non-null   int64
 4   DewPointHighF               1319 non-null   object
 5   DewPointAvgF                1319 non-null   object
 6   DewPointLowF                1319 non-null   object
 7   HumidityHighPercent         1319 non-null   object
 8   HumidityAvgPercent          1319 non-null   object
 9   HumidityLowPercent          1319 non-null   object
 10  SeaLevelPressureHighInches  1319 non-null   object
 11  SeaLevelPressureAvgInches   1319 non-null   object
 12  SeaLevelPressureLowInches   1319 non-null   object
 13  VisibilityHighMiles         1319 non-null   object
 14  VisibilityAvgMiles          1319 non-null   object
 15  VisibilityLowMiles          1319 non-null   object
 16  WindHighMPH                 1319 non-null   object
 17  WindAvgMPH                  1319 non-null   object
 18  WindGustMPH                 1319 non-null   object
 19  PrecipitationSumInches      1319 non-null   object
 20  Events                      1319 non-null   object
dtypes: int64(3), object(18)
memory usage: 216.5+ KB

In [75]:
weather.describe()

         TempHighF     TempAvgF     TempLowF
count  1319.000000  1319.000000  1319.000000
mean     80.862775    70.642911    59.902957
std      14.766523    14.045904    14.190648
min      32.000000    29.000000    19.000000
25%      72.000000    62.000000    49.000000
50%      83.000000    73.000000    63.000000
75%      92.000000    83.000000    73.000000
max     107.000000    93.000000    81.000000

In [76]:
categorical_data = weather.head()
print(categorical_data)

         Date  TempHighF  TempAvgF  TempLowF DewPointHighF DewPointAvgF  \
0  2013-12-21         74        60        45            67           49
1  2013-12-22         56        48        39            43           36
2  2013-12-23         58        45        32            31           27
3  2013-12-24         61        46        31            36           28
4  2013-12-25         58        50        41            44           40

  DewPointLowF HumidityHighPercent HumidityAvgPercent HumidityLowPercent  ...  \
0           43                  93                 75                 57  ...
1           28                  93                 68                 43  ...
2           23                  76                 52                 27  ...
3           21                  89                 56                 22  ...
4           36                  86                 71                 56  ...

  SeaLevelPressureAvgInches SeaLevelPressureLowInches VisibilityHighMiles  \
0                     29.68                     29.59                  10
1                     30.13                     29.87                  10
2                     30.49                     30.41                  10
3                     30.45                      30.3                  10
4                     30.33                     30.27                  10

  VisibilityAvgMiles VisibilityLowMiles WindHighMPH WindAvgMPH WindGustMPH  \
0                  7                  2          20          4          31
1                 10                  5          16          6          25
2                 10                 10           8          3          12
3                 10                  7          12          4          20
4                 10                  7          10          2          16

  PrecipitationSumInches               Events
0                   0.46  Rain , Thunderstorm
1                      0
2                      0
3                      0
4                      T

[5 rows x 21 columns]

#### Given the information you have learned from examining the dataset, write down three insights about the data in a markdown cell below

#### Your Insights:

1. There are 21 variables in the dataset. 3 of them are numeric and the rest contain some text.

2. The average temperature in Austin ranged between around 70 degrees F and around 93 degrees F. The highest temperature observed during this period was 107 degrees F and the lowest was 19 degrees F.

3. When we look at the head function, we see that a lot of variables contain numeric data even though these columns are of object type. This means we might have to do some data cleansing.

#### Let's examine the DewPointAvgF variable by using the `unique()` function to list all unique values in this dataframe.

Describe what you find in a markdown cell below the code. What did you notice? What do you think made Pandas to treat this column as *object* instead of *int64*?

In [78]:
1. **Variable Types:** The dataset comprises a total of 21 variables. While the majority of these variables contain text (categorical) data, three variables are numeric in nature. This diverse mix of variable types indicates a combination of categorical and numeric information.

2. **Temperature Ranges:** Analysis of the temperature data reveals that the average temperature in Austin spanned from approximately 70 degrees Fahrenheit to around 93 degrees Fahrenheit during the observed period. Notably, the highest recorded temperature reached 107 degrees Fahrenheit, while the lowest recorded temperature dropped to 19 degrees Fahrenheit. These temperature ranges provide a comprehensive view of the climatic conditions in Austin over the dataset's timeframe.

3. **Data Cleansing Consideration:** Upon inspecting the initial rows of the dataset using the `head()` function, it becomes evident that several columns, initially categorized as object type (text), contain numeric data. This discrepancy implies potential data quality concerns, such as inconsistent formatting or entries. Consequently, data cleansing and transformation may be necessary to ensure accurate analysis using these columns.

SyntaxError: unterminated string literal (detected at line 3) (3931476438.py, line 3)

In [77]:
unique_dewpoints = weather['DewPointAvgF'].unique()
print(unique_dewpoints)

['49' '36' '27' '28' '40' '39' '41' '26' '42' '22' '48' '32' '8' '11' '45'
 '55' '61' '37' '47' '25' '23' '20' '33' '30' '29' '17' '14' '13' '54'
 '59' '15' '24' '34' '35' '57' '50' '53' '60' '46' '56' '51' '31' '38'
 '62' '43' '63' '64' '67' '66' '58' '70' '68' '65' '69' '71' '72' '-' '73'
 '74' '21' '44' '52' '12' '75' '76' '18']

In [ ]:
#the unique values in the "DewPointAvgF" column reveal a combination of numeric and non-numeric entries, which has led to the column being treated as an object type. To utilize this data accurately, it's crucial to address data inconsistencies and perform appropriate data cleansing and transformation.

The following is a list of columns misrepresented as `object`. Use this list to convert the columns to numeric using the `pandas.to_numeric` function in the next cell. If you encounter errors in converting strings to numeric values, you need to catch those errors and force the conversion by supplying `errors='coerce'` as an argument for `pandas.to_numeric`. Coercing will replace non-convertable elements with `NaN` which represents an undefined numeric value. This makes it possible for us to conveniently handle missing values in subsequent data processing.

*Hint: you may use a loop to change one column at a time but it is more efficient to use `apply`.*

In [79]:
wrong_type_columns = ['DewPointHighF', 'DewPointAvgF', 'DewPointLowF', 'HumidityHighPercent', 
                      'HumidityAvgPercent', 'HumidityLowPercent', 'SeaLevelPressureHighInches', 
                      'SeaLevelPressureAvgInches' ,'SeaLevelPressureLowInches', 'VisibilityHighMiles',
                      'VisibilityAvgMiles', 'VisibilityLowMiles', 'WindHighMPH', 'WindAvgMPH', 
                      'WindGustMPH', 'PrecipitationSumInches']

In [80]:
weather[wrong_type_columns] = weather[wrong_type_columns].apply(pd.to_numeric, errors='coerce')

#### Check if your code has worked by printing the data types again. You should see only two `object` columns (`Date` and `Events`) now. All other columns should be `int64` or `float64`.

In [81]:
print(weather.dtypes)

Date                           object
TempHighF                       int64
TempAvgF                        int64
TempLowF                        int64
DewPointHighF                 float64
DewPointAvgF                  float64
DewPointLowF                  float64
HumidityHighPercent           float64
HumidityAvgPercent            float64
HumidityLowPercent            float64
SeaLevelPressureHighInches    float64
SeaLevelPressureAvgInches     float64
SeaLevelPressureLowInches     float64
VisibilityHighMiles           float64
VisibilityAvgMiles            float64
VisibilityLowMiles            float64
WindHighMPH                   float64
WindAvgMPH                    float64
WindGustMPH                   float64
PrecipitationSumInches        float64
Events                         object
dtype: object

# Challenge 2 - Handle the Missing Data

#### Now that we have fixed the type mismatch, let's address the missing data.

By coercing the columns to numeric, we have created `NaN` for each cell containing characters. We should choose a strategy to address these missing data.

The first step is to examine how many rows contain missing data.

We check how much missing data we have by applying the `.isnull()` function to our dataset. To find the rows with missing data in any of its cells, we apply `.any(axis=1)` to the function. `austin.isnull().any(axis=1)` will return a column containing true if the row contains at least one missing value and false otherwise. Therefore we must subset our dataframe with this column. This will give us all rows with at least one missing value. 

#### In the next cell, identify all rows containing at least one missing value. Assign the dataframes with missing values to a variable called `missing_values`.

In [82]:
rows_with_missing = weather[weather.isnull().any(axis=1)]
missing_values = rows_with_missing

There are multiple strategies to handle missing data. Below lists the most common ones data scientists use:

* Removing all rows or all columns containing missing data. This is the simplest strategy. It may work in some cases but not others.

* Filling all missing values with a placeholder value. 
    * For categorical data, `0`, `-1`, and `9999` are some commonly used placeholder values. 
    * For continuous data, some may opt to fill all missing data with the mean. This strategy is not optimal since it can increase the fit of the model.

* Filling the values using some algorithm. 

#### In our case, we will use a hybrid approach which is to first remove the data that contain most missing values then fill in the rest of the missing values with the *linear interpolation* algorithm.

#### Next, count the number of rows of `austin` and `missing_values`.

In [85]:
threshold = len(weather.columns) * 0.5  
weather_cleaned = weather.dropna(thresh=threshold)
weather_cleaned.interpolate(method='linear', inplace=True)
num_rows_weather = len(weather)
num_rows_missing = len(missing_values)
print("Number of rows in 'weather':", num_rows_weather)
print("Number of rows in 'missing_values':", num_rows_missing)

Number of rows in 'weather': 1319
Number of rows in 'missing_values': 136

/var/folders/wj/9yy2qymx1q58s3n2gkl01vj00000gn/T/ipykernel_3401/2686672458.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather_cleaned.interpolate(method='linear', inplace=True)

#### Calculate the ratio of missing rows to total rows

In [86]:
missing_ratio = num_rows_missing / num_rows_weather
print("Ratio of missing rows to total rows:", missing_ratio)

Ratio of missing rows to total rows: 0.10310841546626232

As you can see, there is a large proportion of missing data (over 10%). Perhaps we should evaluate which columns have the most missing data and remove those columns. For the remaining columns, we will perform a linear approximation of the missing data.

We can find the number of missing rows in each column using the `.isna()` function. We then chain the `.sum` function to the `.isna()` function and find the number of missing rows per column

In [87]:
missing_rows_per_column = weather.isna().sum()
columns_with_most_missing = missing_rows_per_column[missing_rows_per_column > 0].sort_values(ascending=False)


print("Columns with the most missing data:")
print(columns_with_most_missing)

Columns with the most missing data:
PrecipitationSumInches        124
VisibilityHighMiles            12
VisibilityAvgMiles             12
VisibilityLowMiles             12
DewPointHighF                   7
DewPointAvgF                    7
DewPointLowF                    7
WindGustMPH                     4
SeaLevelPressureHighInches      3
SeaLevelPressureAvgInches       3
SeaLevelPressureLowInches       3
HumidityHighPercent             2
HumidityAvgPercent              2
HumidityLowPercent              2
WindHighMPH                     2
WindAvgMPH                      2
dtype: int64

#### As you can see from the output, the majority of missing data is in one column called `PrecipitationSumInches`. What's the number of missing values in this column in ratio to its total number of rows?

In [88]:
missing_values_precipitation = missing_rows_per_column["PrecipitationSumInches"]
ratio_precipitation = missing_values_precipitation / num_rows_weather
print("Number of missing values in 'PrecipitationSumInches' column:", missing_values_precipitation)
print("Ratio of missing values to total rows in 'PrecipitationSumInches' column:", ratio_precipitation)

Number of missing values in 'PrecipitationSumInches' column: 124
Ratio of missing values to total rows in 'PrecipitationSumInches' column: 0.09401061410159212

Almost 10% data missing! Therefore, we prefer to remove this column instead of filling its missing values. 

#### Remove this column from `austin` using the `.drop()` function. Use the `inplace=True` argument.

*Hints:*

* By supplying `inplace=True` to `drop()`, the original dataframe object will be changed in place and the function will return `None`. In contrast, if you don't supply `inplace=True`, which is equivalent to supplying `inplace=False` because `False` is the default value, the original dataframe object will be kept and the function returns a copy of the transformed dataframe object. In the latter case, you'll have to assign the returned object back to your variable.

* Also, since you are dropping a column instead of a row, you'll need to supply `axis=1` to `drop()`.

[Reference for `pandas.DataFrame.drop`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html)

In [94]:
print(weather.columns)

Index(['Date', 'TempHighF', 'TempAvgF', 'TempLowF', 'DewPointHighF',
       'DewPointAvgF', 'DewPointLowF', 'HumidityHighPercent',
       'HumidityAvgPercent', 'HumidityLowPercent',
       'SeaLevelPressureHighInches', 'SeaLevelPressureAvgInches',
       'SeaLevelPressureLowInches', 'VisibilityHighMiles',
       'VisibilityAvgMiles', 'VisibilityLowMiles', 'WindHighMPH', 'WindAvgMPH',
       'WindGustMPH', 'Events'],
      dtype='object')

#### Next we will perform linear interpolation of the missing data.

This means that we will use a linear algorithm to estimate the missing data. Linear interpolation assumes that there is a straight line between the points and the missing point will fall on that line. This is a good enough approximation for weather related data. Weather related data is typically a time series. Therefore, we do not want to drop rows from our data if possible. It is prefereable to estimate the missing values rather than remove the rows. However, if you have data from a single point in time, perhaps a better solution would be to remove the rows. 

If you would like to read more about linear interpolation, you can do so [here](https://en.wikipedia.org/wiki/Linear_interpolation).

In the following cell, use the `.interpolate()` function on the entire dataframe. This time pass the `inplace=False` argument to the function and assign the interpolated dataframe to a new variable called `austin_fixed` so that we can compare with `austin`.

In [95]:
weather_fixed = weather.interpolate(method='linear', inplace=False)
print(weather_fixed)

            Date  TempHighF  TempAvgF  TempLowF  DewPointHighF  DewPointAvgF  \
0     2013-12-21         74        60        45           67.0          49.0
1     2013-12-22         56        48        39           43.0          36.0
2     2013-12-23         58        45        32           31.0          27.0
3     2013-12-24         61        46        31           36.0          28.0
4     2013-12-25         58        50        41           44.0          40.0
...          ...        ...       ...       ...            ...           ...
1314  2017-07-27        103        89        75           71.0          67.0
1315  2017-07-28        105        91        76           71.0          64.0
1316  2017-07-29        107        92        77           72.0          64.0
1317  2017-07-30        106        93        79           70.0          68.0
1318  2017-07-31         99        88        77           66.0          61.0

      DewPointLowF  HumidityHighPercent  HumidityAvgPercent  \
0             43.0                 93.0                75.0
1             28.0                 93.0                68.0
2             23.0                 76.0                52.0
3             21.0                 89.0                56.0
4             36.0                 86.0                71.0
...            ...                  ...                 ...
1314          61.0                 82.0                54.0
1315          55.0                 87.0                54.0
1316          55.0                 82.0                51.0
1317          63.0                 69.0                48.0
1318          54.0                 64.0                43.0

      HumidityLowPercent  SeaLevelPressureHighInches  \
0                   57.0                       29.86
1                   43.0                       30.41
2                   27.0                       30.56
3                   22.0                       30.56
4                   56.0                       30.41
...                  ...                         ...
1314                25.0                       30.04
1315                20.0                       29.97
1316                19.0                       29.91
1317                27.0                       29.96
1318                22.0                       30.04

      SeaLevelPressureAvgInches  SeaLevelPressureLowInches  \
0                         29.68                      29.59
1                         30.13                      29.87
2                         30.49                      30.41
3                         30.45                      30.30
4                         30.33                      30.27
...                         ...                        ...
1314                      29.97                      29.88
1315                      29.90                      29.81
1316                      29.86                      29.79
1317                      29.91                      29.87
1318                      29.97                      29.91

      VisibilityHighMiles  VisibilityAvgMiles  VisibilityLowMiles  \
0                    10.0                 7.0                 2.0
1                    10.0                10.0                 5.0
2                    10.0                10.0                10.0
3                    10.0                10.0                 7.0
4                    10.0                10.0                 7.0
...                   ...                 ...                 ...
1314                 10.0                10.0                10.0
1315                 10.0                10.0                10.0
1316                 10.0                10.0                10.0
1317                 10.0                10.0                10.0
1318                 10.0                10.0                10.0

      WindHighMPH  WindAvgMPH  WindGustMPH               Events
0            20.0         4.0         31.0  Rain , Thunderstorm
1            16.0         6.0         25.0
2             8.0         3.0         12.0
3            12.0         4.0         20.0
4            10.0         2.0         16.0
...           ...         ...          ...                  ...
1314         12.0         5.0         21.0
1315         14.0         5.0         20.0
1316         12.0         4.0         17.0
1317         13.0         4.0         20.0
1318         12.0         4.0         20.0

[1319 rows x 20 columns]

#### Check to make sure `austin_fixed` contains no missing data. Also check `austin` - it still contains missing data.

In [96]:
print("Missing data in weather_fixed:")
print(weather_fixed.isnull().any())
print("\nMissing data in original weather DataFrame:")
print(weather.isnull().any())

Missing data in weather_fixed:
Date                          False
TempHighF                     False
TempAvgF                      False
TempLowF                      False
DewPointHighF                 False
DewPointAvgF                  False
DewPointLowF                  False
HumidityHighPercent           False
HumidityAvgPercent            False
HumidityLowPercent            False
SeaLevelPressureHighInches    False
SeaLevelPressureAvgInches     False
SeaLevelPressureLowInches     False
VisibilityHighMiles           False
VisibilityAvgMiles            False
VisibilityLowMiles            False
WindHighMPH                   False
WindAvgMPH                    False
WindGustMPH                   False
Events                        False
dtype: bool

Missing data in original weather DataFrame:
Date                          False
TempHighF                     False
TempAvgF                      False
TempLowF                      False
DewPointHighF                  True
DewPointAvgF                   True
DewPointLowF                   True
HumidityHighPercent            True
HumidityAvgPercent             True
HumidityLowPercent             True
SeaLevelPressureHighInches     True
SeaLevelPressureAvgInches      True
SeaLevelPressureLowInches      True
VisibilityHighMiles            True
VisibilityAvgMiles             True
VisibilityLowMiles             True
WindHighMPH                    True
WindAvgMPH                     True
WindGustMPH                    True
Events                        False
dtype: bool

# Challenge 3 - Processing the `Events` Column

#### Our dataframe contains one true text column - the Events column. We should evaluate this column to determine how to process it.

Use the `value_counts()` function to evaluate the contents of this column

In [97]:
events_counts = weather_fixed['Events'].value_counts()
print(events_counts)

                             903
Rain                         192
Rain , Thunderstorm          137
Fog , Rain , Thunderstorm     33
Fog                           21
Thunderstorm                  17
Fog , Rain                    14
Rain , Snow                    1
Fog , Thunderstorm             1
Name: Events, dtype: int64

Reading the values of `Events` and reflecting what those values mean in the context of data, you realize this column indicates what weather events had happened in a particular day.

#### What is the largest number of events happened in a single day? Enter your answer in the next cell.

In [ ]:
#The largest number of weather events that happened in a single day is 33.

#### Next, populate the actual values in the dummy columns of  `austin_fixed`.

You will check the *Events* column. If its string value contains `Rain`, then the *Rain* column should be `1`. The same for `Snow`, `Fog`, and `Thunderstorm`.

*Hints:*

* Use [`pandas.Series.str.contains()`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.contains.html) to create the value series of each new column.

* What if the values you populated are booleans instead of numbers? You can cast the boolean values to numbers by using `.astype(int)`. For instance, `pd.Series([True, True, False]).astype(int)` will return a new series with values of `[1, 1, 0]`.

In [102]:
austin_fixed = pd.DataFrame()
austin_fixed['Rain'] = weather['Events'].str.contains('Rain').astype(int)
austin_fixed['Snow'] = weather['Events'].str.contains('Snow').astype(int)
austin_fixed['Fog'] = weather['Events'].str.contains('Fog').astype(int)
austin_fixed['Thunderstorm'] = weather['Events'].str.contains('Thunderstorm').astype(int)
print(austin_fixed.head())

   Rain  Snow  Fog  Thunderstorm
0     1     0    0             1
1     0     0    0             0
2     0     0    0             0
3     0     0    0             0
4     0     0    0             0

#### Print out `austin_fixed` to check if the event columns are populated with the intended values

In [103]:
print(austin_fixed)

      Rain  Snow  Fog  Thunderstorm
0        1     0    0             1
1        0     0    0             0
2        0     0    0             0
3        0     0    0             0
4        0     0    0             0
...    ...   ...  ...           ...
1314     0     0    0             0
1315     0     0    0             0
1316     0     0    0             0
1317     0     0    0             0
1318     0     0    0             0

[1319 rows x 4 columns]

#### If your code worked correctly, now we can drop the `Events` column as we don't need it any more.

In [105]:
weather = weather.drop(columns=['Events'])
print(austin_fixed)
print(weather)

      Rain  Snow  Fog  Thunderstorm
0        1     0    0             1
1        0     0    0             0
2        0     0    0             0
3        0     0    0             0
4        0     0    0             0
...    ...   ...  ...           ...
1314     0     0    0             0
1315     0     0    0             0
1316     0     0    0             0
1317     0     0    0             0
1318     0     0    0             0

[1319 rows x 4 columns]
            Date  TempHighF  TempAvgF  TempLowF  DewPointHighF  DewPointAvgF  \
0     2013-12-21         74        60        45           67.0          49.0
1     2013-12-22         56        48        39           43.0          36.0
2     2013-12-23         58        45        32           31.0          27.0
3     2013-12-24         61        46        31           36.0          28.0
4     2013-12-25         58        50        41           44.0          40.0
...          ...        ...       ...       ...            ...           ...
1314  2017-07-27        103        89        75           71.0          67.0
1315  2017-07-28        105        91        76           71.0          64.0
1316  2017-07-29        107        92        77           72.0          64.0
1317  2017-07-30        106        93        79           70.0          68.0
1318  2017-07-31         99        88        77           66.0          61.0

      DewPointLowF  HumidityHighPercent  HumidityAvgPercent  \
0             43.0                 93.0                75.0
1             28.0                 93.0                68.0
2             23.0                 76.0                52.0
3             21.0                 89.0                56.0
4             36.0                 86.0                71.0
...            ...                  ...                 ...
1314          61.0                 82.0                54.0
1315          55.0                 87.0                54.0
1316          55.0                 82.0                51.0
1317          63.0                 69.0                48.0
1318          54.0                 64.0                43.0

      HumidityLowPercent  SeaLevelPressureHighInches  \
0                   57.0                       29.86
1                   43.0                       30.41
2                   27.0                       30.56
3                   22.0                       30.56
4                   56.0                       30.41
...                  ...                         ...
1314                25.0                       30.04
1315                20.0                       29.97
1316                19.0                       29.91
1317                27.0                       29.96
1318                22.0                       30.04

      SeaLevelPressureAvgInches  SeaLevelPressureLowInches  \
0                         29.68                      29.59
1                         30.13                      29.87
2                         30.49                      30.41
3                         30.45                      30.30
4                         30.33                      30.27
...                         ...                        ...
1314                      29.97                      29.88
1315                      29.90                      29.81
1316                      29.86                      29.79
1317                      29.91                      29.87
1318                      29.97                      29.91

      VisibilityHighMiles  VisibilityAvgMiles  VisibilityLowMiles  \
0                    10.0                 7.0                 2.0
1                    10.0                10.0                 5.0
2                    10.0                10.0                10.0
3                    10.0                10.0                 7.0
4                    10.0                10.0                 7.0
...                   ...                 ...                 ...
1314                 10.0                10.0                10.0
1315                 10.0                10.0                10.0
1316                 10.0                10.0                10.0
1317                 10.0                10.0                10.0
1318                 10.0                10.0                10.0

      WindHighMPH  WindAvgMPH  WindGustMPH
0            20.0         4.0         31.0
1            16.0         6.0         25.0
2             8.0         3.0         12.0
3            12.0         4.0         20.0
4            10.0         2.0         16.0
...           ...         ...          ...
1314         12.0         5.0         21.0
1315         14.0         5.0         20.0
1316         12.0         4.0         17.0
1317         13.0         4.0         20.0
1318         12.0         4.0         20.0

[1319 rows x 19 columns]

# Challenge 4 - Processing The `Date` Column

The `Date` column is another non-numeric field in our dataset. A value in that field looks like `'2014-01-06'` which consists of the year, month, and day connected with hyphens. One way to convert the date string to numerical is using a similar approach as we used for `Events`, namely splitting the column into numerical `Year`, `Month`, and `Day` columns. In this challenge we'll show you another way which is to use the Python `datetime` library's `toordinal()` function. Depending on what actual machine learning analysis you will conduct, each approach has its pros and cons. Our goal today is to practice data preparation so we'll skip the discussion here.

Here you can find the [reference](https://docs.python.org/3/library/datetime.html) and [example](https://stackoverflow.com/questions/39846918/convert-date-to-ordinal-python) for `toordinal`. The basic process is to first convert the string to a `datetime` object using `datetime.datetime.strptime`, then convert the `datetime` object to numerical using `toordinal`.

#### In the cell below, convert the `Date` column values from string to numeric values using `toordinal()`.

In [107]:
weather['Date'] = weather['Date'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d').toordinal())

#### Print `austin_fixed` to check your `Date` column.

In [108]:
austin_fixed.head(5)

   Rain  Snow  Fog  Thunderstorm
0     1     0    0             1
1     0     0    0             0
2     0     0    0             0
3     0     0    0             0
4     0     0    0             0

# Challenge 5 - Sampling and Holdout Sets

#### Now that we have processed the data for machine learning, we will separate the data to test and training sets.

We first train the model using only the training set. We check our metrics on the training set. We then apply the model to the test set and check our metrics on the test set as well. If the metrics are significantly more optimal on the training set, then we know we have overfit our model. We will need to revise our model to ensure it will be more applicable to data outside the test set.

#### In the next cells we will separate the data into a training set and a test set using the `train_test_split()` function in scikit-learn.

When using `scikit-learn` for machine learning, we first separate the data to predictor and response variables. This is the standard way of passing datasets into a model in `scikit-learn`. The `scikit-learn` will then find out whether the predictors and responses fit the model.

In the next cell, assign the `TempAvgF` column to `y` and the remaining columns to `X`. Your `X` should be a subset of `austin_fixed` containing the following columns: 

```['Date',
 'TempHighF',
 'TempLowF',
 'DewPointHighF',
 'DewPointAvgF',
 'DewPointLowF',
 'HumidityHighPercent',
 'HumidityAvgPercent',
 'HumidityLowPercent',
 'SeaLevelPressureHighInches',
 'SeaLevelPressureAvgInches',
 'SeaLevelPressureLowInches',
 'VisibilityHighMiles',
 'VisibilityAvgMiles',
 'VisibilityLowMiles',
 'WindHighMPH',
 'WindAvgMPH',
 'WindGustMPH',
 'Snow',
 'Fog',
 'Rain',
 'Thunderstorm']```
 
 Your `y` should be a subset of `austin_fixed` containing one column `TempAvgF`.

In [117]:
X = weather[['Date', 'TempHighF', 'TempLowF', 'DewPointHighF', 'DewPointAvgF', 'DewPointLowF',
             'HumidityHighPercent', 'HumidityAvgPercent', 'HumidityLowPercent',
             'SeaLevelPressureHighInches', 'SeaLevelPressureAvgInches', 'SeaLevelPressureLowInches',
             'VisibilityHighMiles', 'VisibilityAvgMiles', 'VisibilityLowMiles',
             'WindHighMPH', 'WindAvgMPH', 'WindGustMPH']]
y = weather[['TempAvgF']]


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (1055, 18)
X_test shape: (264, 18)
y_train shape: (1055, 1)
y_test shape: (264, 1)

In the next cell, import `train_test_split` from `sklearn.model_selection`

In [118]:
from sklearn.model_selection import train_test_split

Now that we have split the data to predictor and response variables and imported the `train_test_split()` function, split `X` and `y` into `X_train`, `X_test`, `y_train`, and `y_test`. 80% of the data should be in the training set and 20% in the test set. `train_test_split()` reference can be accessed [here](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html).


Enter your code in the cell below:

In [119]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#### Congratulations! Now you have finished the preparation of the dataset!

# Bonus Challenge 1

#### While the above is the common practice to prepare most datasets, when it comes to time series data, we sometimes do not want to randomly select rows from our dataset.

This is because many time series algorithms rely on observations having equal time distances between them. In such cases, we typically select the majority of rows as the test data and the last few rows as the training data. We don't use `train_test_split()` to select the train/test data because it returns random selections.

In the following cell, compute the number of rows that account for 80% of our data and round it to the next integer. Assign this number to `ts_rows`.

In [120]:
total_rows = len(weather)
ts_rows = int(total_rows * 0.8) + 1
print("Number of rows for 80% of the data:", ts_rows)

Number of rows for 80% of the data: 1056

Assign the first `ts_rows` rows of `X` to `X_ts_train` and the remaining rows to `X_ts_test`.

In [121]:
X_ts_train = X.iloc[:ts_rows]
X_ts_test = X.iloc[ts_rows:]
print("X_ts_train shape:", X_ts_train.shape)
print("X_ts_test shape:", X_ts_test.shape)

X_ts_train shape: (1056, 18)
X_ts_test shape: (263, 18)

Assign the first `ts_rows` rows of `y` to `y_ts_train` and the remaining rows to `y_ts_test`.

In [122]:
y_ts_train = y.iloc[:ts_rows]
y_ts_test = y.iloc[ts_rows:]
print("y_ts_train shape:", y_ts_train.shape)
print("y_ts_test shape:", y_ts_test.shape)

y_ts_train shape: (1056, 1)
y_ts_test shape: (263, 1)